<!doctype html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/extras/spring-security"
      lang="ru"
      class="h-100">
<head>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <!--  <meta name="_csrf" th:content="${_csrf.token}"/>-->
    <!--  <meta name="_csrf_header" th:content="${_csrf.headerName}"/>-->
    <link rel="stylesheet" href="/public/css/custom.css">
    <title>Stack Overflow Clone</title>
    <script src="/public/js/viewquestion.js"></script>
    <link th:replace="~{fragments/styles}">
</head>
<body class="d-flex flex-column h-100">
<header>
    <div th:replace="~{fragments/navbar}"></div>
</header>
<main class=" container">
    <div class=" col-10 align-self-center">
        <div class="">
            <!--      <div class="col-md-2 col-lg-2 offset-lg-1 d-none d-md-block pr-0">-->
            <!--        <div th:replace="~{fragments/sidebar :: sidebar}"></div>-->
            <!--      </div>-->
            <div >
                <div class="content m-3  ">
                    <div class="d-flex question-header">
                        <div class="flex-grow-1 section-title mb-3">
                            <a class="text-secondary h3" th:href="${'/question/' + question.questionId}"
                               th:text="${question.title}"></a>
                        </div>
                        <!--            <div class="ml-2">-->
                        <!--              <a class="btn btn-primary" th:text="#{question.action.new}"-->
                        <!--                 th:href="@{/question/new}">Ask Question</a>-->
                        <!--            </div>-->
                        <a sec:authorize='isAuthenticated()'
                           th:if="${  question.user.userId == #authentication.principal.userId}"
                           class="float-left"
                           th:href="${'/question/edit/' + question.questionId}">
                            <div class="edit-question text-muted small"
                                 th:attr="data-question-id=${question.questionId}">
                                edit question
                            </div>
                        </a>
                    </div>
                    <div class="question-details d-flex mb-3 border-bottom">
                        <div class="small mr-3 mb-2">
                            <span class="text-muted">Asked</span>
                            <span th:text="${question.getFormattedDate(question.createdAt, 'd MMM yy hh:mm')}">
                            </span>
                        </div>

                        <div class="small mr-3 mb-2">
                            <span class="text-muted">Viewed</span>
                            <span th:text="${question.viewsNo}"></span>
                        </div>
                    </div>
                    <div id="cur-question" class="question d-flex mb-3"
                         th:attr="data-question-id=${question.questionId}">
                        <div class="vote text-center mr-3">
                            <a onclick=upvote(event)>
                                <div class="vote-up"></div>
                            </a>
                            <div class="vote-count my-3">
                                        <span id="rating"
                                              th:with="rating=${question.upvote.size +question.downvote.size}"
                                              th:text="${rating}"
                                              class="question_rating text-muted h5 font-weight-bold"></span>
                            </div>
                            <a onclick=downvote(event)>
                                <div class="vote-down "></div>
                            </a>
                        </div>

                        <div class="content w-100">
                            <div>
                                <div>
                                    <div class="question-body" th:text="${question.content}"></div>
                                    <div th:if="${!question.questionPic.isEmpty() }">
                                        <div th:each="pic : ${question.questionPic}">
                                            <img class=" rounded float-left"
                                                 style="width:150px; height=150px"
                                                 th:src="@{${'https://btlwebhd.s3.ap-southeast-2.amazonaws.com/' + pic}}"
                                                 alt="Snow">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div>
                        <div style="margin-left:2%" th:each="tag : ${question.tags}">
                            <a class="mr-1 bg-light small rounded p-1 text-info"
                               th:href="${'/question/tag/' + tag.tagName}"
                               th:text="${tag.tagName}"></a>
                        </div>
                    </div>
                    <div class=" float-right w-25">
                        <div class="text-muted small user-action-time"
                             th:text="'asked ' + ${question.getFormattedDate(question.createdAt, 'd MMM yy hh:mm')}">
                        </div>
                        <div th:if="${question.user.profilePic}"
                             class="user-gravatar gravatar-32 float-left mr-2">
                            <img th:src="@{'data:image/jpeg;base64,' + ${question.author.avatar.data}}"
                                 th:alt="${'user-avatar-' + question.author.id}">
                        </div>
                        <div class="user-details float-left small">
                            <a th:href="${'/user/' + question.user.userId}"
                               th:text="${question.user.username}"></a>
                        </div>
                    </div>
                    <!--        <div th:unless="${question.answers.isEmpty()}">-->
                    <!--        <div class="answers-header border-bottom mb-3">-->
                    <!--          <div class="mb-2 h5 text-muted"-->
                    <!--               th:text="${question.answers.size()} + ' Answers'">-->
                    <!--          </div>-->
                    <!--        </div>-->

                    <!--        <div th:each="answer : ${question.answers}">-->
                    <!--          <div class="answer d-flex mb-3 border-bottom pb-3" th:attr="data-answer-id=${answer.id}">-->

                    <!--            <div class="vote text-center mr-3">-->
                    <!--              <a href=""><div class="vote-up"></div></a>-->
                    <!--              <div class="vote-count my-3">-->
                    <!--                                        <span th:text="${answer.getRating()}"-->
                    <!--                                              class="answer_rating text-muted h5 font-weight-bold"></span>-->
                    <!--              </div>-->
                    <!--              <a href=""><div class="vote-down"></div></a>-->
                    <!--            </div>-->

                    <!--            <div class="answer-content w-100">-->
                    <!--              <div class="answer-body" th:text="${answer.content}"></div>-->

                    <!--              <a class="float-left" th:href="${'/answers/edit/' + answer.id}">-->
                    <!--                <div class="edit-answer text-muted small"-->
                    <!--                     th:attr="data-answer-id=${answer.id}">-->
                    <!--                  improve this answer-->
                    <!--                </div>-->
                    <!--              </a>-->

                    <!--              <div class="user-info float-right w-25">-->
                    <!--                <div class="text-muted small user-action-time"-->
                    <!--                     th:text="'answered ' + ${answer.getFormattedDate(answer.createdDate, 'd MMM yy hh:mm')}">-->
                    <!--                </div>-->
                    <!--                <div th:if="${answer.author.avatar}"-->
                    <!--                     class="user-gravatar gravatar-32 float-left mr-2">-->
                    <!--                  <img th:src="@{'data:image/jpeg;base64,' + ${answer.author.avatar.data}}"-->
                    <!--                       th:alt="${'user-avatar-' + answer.author.id}">-->
                    <!--                </div>-->
                    <!--                <div class="user-details float-left small">-->
                    <!--                  <a th:href="${'/accounts/' + answer.author.id}"-->
                    <!--                     th:text="${answer.author.name}"></a>-->
                    <!--                </div>-->
                    <!--              </div>-->
                    <!--              <div th:if="${answer.createdDate != answer.lastModifiedDate}"-->
                    <!--                   class="user-info float-right w-25">-->
                    <!--                <div class="text-muted small user-action-time"-->
                    <!--                     th:text="'edited ' + ${answer.getFormattedDate(answer.lastModifiedDate, 'd MMM yy hh:mm')}">-->

                    <!--                </div>-->
                    <!--                <div th:if="${answer.lastModifiedBy.avatar}"-->
                    <!--                     class="user-gravatar gravatar-32 float-left mr-2">-->
                    <!--                  <img th:src="@{'data:image/jpeg;base64,' + ${answer.lastModifiedBy.avatar.data}}"-->
                    <!--                       th:alt="${'user-avatar-' + answer.lastModifiedBy.id}">-->
                    <!--                </div>-->
                    <!--                <div class="user-details float-left small">-->
                    <!--                  <a th:href="${'/accounts/' + answer.lastModifiedBy.id}"-->
                    <!--                     th:text="${answer.lastModifiedBy.name}"></a>-->
                    <!--                </div>-->
                    <!--              </div>-->
                    <!--            </div>-->
                    <!--          </div>-->
                    <!--        </div>-->
                    <!--      </div>-->

                    <!--      <form action="#" th:action="@{/answers}"-->
                    <!--            method="post" th:object="${answer}">-->
                    <!--        <input type="hidden" th:field="*{id}">-->
                    <!--        <input type="hidden" th:field="*{question}">-->
                    <!--        <div class="form-group">-->
                    <!--          <label for="answer-body" th:text="#{answer.form.title}">Your Answer</label>-->
                    <!--          <textarea class="form-control" th:field="*{content}" name="content"-->
                    <!--                    id="answer-body" cols="30" rows="10">-->

                    <!--                            </textarea>-->
                    <!--        </div>-->
                    <!--        <div class="form-group">-->
                    <!--          <input type="submit" th:value="#{action.create}"-->
                    <!--                 class="btn btn-primary"/>-->
                    <!--        </div>-->

                    <!--      </form>-->
                </div>
            </div>
        </div>
    </div>
</main>
<!--<footer class="footer">-->
<!--  <div th:replace="~{fragments/footer :: footer}"></div>-->
<!--</footer>-->
</body>
</html>